<link rel="stylesheet" href="application.css">
<body class="fondo">
    <h1></h1>
    <p class= "boton">
        <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>
    </p>
    <nav class="opciones">
            <%= link_to "Areas", destroy_user_session_path, method: :get %><br>
            <%= link_to "Usuarios", destroy_user_session_path, method: :get %><br>
            <%= link_to "Usuarios", destroy_user_session_path, method: :get %><br>
            <%= link_to "Usuarios", destroy_user_session_path, method: :get %><br>
    </nav>
    <div class= "izquierda"></div>
</body>



